<% include ./partials/top.ejs %>
<h1>Githug </h1>
<h2><%= message%></h2>
<form method="POST" action="/data">
    <input type="text" name="user">
    <button type="submit">Search</button>
  </form>
<% include ./partials/bottom.ejs %>