<% include ./partials/top.ejs %>
<h1>Githug </h1>
<img src="https://avatars3.githubusercontent.com/u/11289719?s=460&v=4" alt="githubtree">
<p>A developer tool to explore your files structures!</p>
<h2><%= message%></h2>
<form method="GET" action="/auth/github/">
    <button type="submit">Search Repos</button>
  </form>
<% include ./partials/bottom.ejs %>