<% include ./partials/top.ejs %>
<h1>Githug </h1>
<h2><%= message%></h2>
<form method="GET" action="/auth/github/">
    <button type="submit">Search</button>
  </form>
<% include ./partials/bottom.ejs %>